h3{
    color: #FFFFFF;
    font-family: 'Lora', serif;
}

h2{
    color: #FFFFFF;
    font-family: 'Lora', serif;
}

P{
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    color: #FFFFFF;
    font-family: 'Lora', serif;
}

h4{
    color: rgba(148, 141, 144, 0.5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

h5{
    color: blue;
}